
main {
    padding: 0px;
}

.breadcrumb {
    margin-bottom: 0px;
}

.card .view.overlay {
    max-height: 100%;
}

.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
}

.border-round {
    border-radius: .25rem;
}